services:
  ros_dev:
    image: osrf/ros:jazzy-desktop-full #for now
    container_name: jazzy_dev
    network_mode: host
    ipc: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
    volumes:

      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    stdin_open: true 
    tty: true
    command: /bin/bash